{% extends "base.twig" %}
{% block title %}All tasks{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/public/css/all.css" />
{% endblock %}
{% block content %}
    <div class="panel wide">
        <div class="caption">All tasks</div>
        <div class="panel-content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.subject }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ priorities[task.priority] }}</td>
                            <td>{{ statuses[task.status] }}</td>
                            <td><a class="complete" title="Complete" href="/?action=complete&id={{ task.id }}"></a></td>
                            <td><a class="edit" title="Edit" href="/?action=edit&id={{ task.id }}"></a></td>
                            <td><a class="delete" title="Delete" href="/?action=delete&id={{ task.id }}"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan ="8">
                            <a class="button add" href="/?action=create">Add</a>
                        </td>
                    </tr>    
                </tfoot>
            </table>
        </div>
    </div>                    
{% endblock %}